

.Titulo h1 {
    text-align: center;
    text-transform: unset;
    border-radius: 30px;
    font-size: 36px;
    font-family: "Arial Black" sans-serif;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0,5);
  
}

.produto {
<<<<<<< HEAD
    width: calc(25% - 20px); /* Definindo 25% da largura - 20px de margem */
    margin: 0px; /* Espaçamento entre os produtos */
    display: inline-block;
    grid-template-columns: repeat(auto-fill, 200px);
    
    
}

.sobremesa {
    height: 500px;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    overflow: hidden;

    
=======
    width: calc(25% - 20px);
    display: inline-block;
    grid-template-columns: repeat(auto-fill, 200px);
    }

.sobremesa {
    height: 500px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    font-size: 15px;
>>>>>>> cdcbbf3282597348cf65f10a4ef2040b13489fac
}

img {
    width: 100%;
<<<<<<< HEAD
    border-radius: 8px;
=======
    margin: 10px;
    height: 180px;
    
>>>>>>> cdcbbf3282597348cf65f10a4ef2040b13489fac
}

h2 {
    margin-top: 10px;
}

.produto P {
   
    background-color: aqua;
    

}