.produtos {
    
   align-items: center;

}
  
  .produto {
    width: calc(25% - 20px); /* Definindo 25% da largura - 20px de margem */
    margin: 10px; /* Espaçamento entre os produtos */
    display: inline-block;
    grid-template-columns: repeat(auto-fill, 200px);
   
    
  }
  
  .foto {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    
  }
  
  .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
  }
  
  .informacoes {
    background-color: #f9f9f9;
    padding: 10px;
    
  }
  
  h3 {
    margin: 0;
  }
  
  .valor {
    margin-bottom: 5px;
  }
  
  .tamanho {
    font-size: 12px;
    color: #666;
  }
  
  .quantidade {
  background-color: #c1c9c1;
  border: none;
  color: white;
  padding: 5px 3px;
  text-align: center;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  }
  /* Butoon de Ver mais */
  .quantity {
  display: flex;
  align-items: center;
}

.buttons {
  margin-left: auto;
}

.ver-mais {
  background-color: white; /* Tema vermelho */
  color: red;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 76%; /*Movendo a escrita pro lado */
  border-radius: 300px;
  display: flex; /* Para ocupar toda a largura do contêiner */
}

.ver-mais:hover {
  background-color: #ec8f8f; /* Tom de vermelho mais escuro no hover */
}

  @media (max-width: 768px) {
    .produto {
      width: 100%; /* Definindo 100% da largura para que cada produto ocupe toda a largura em telas menores */
    }
  }
  