/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF; 
  color: #333333; 
}

.container {
  width: 100%;
  max-width: 100%;
  min-width: 420px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


/* Estilos do cabeçalho */
header {
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 10px 0;
  width: 100%;
  background-color: #AA0000; 
  padding: 8px 0;
  transition: top 0.3 ease;
  z-index: 1000;
}

.logo {
  bottom: -10px;
    right: 10px;
    position: relative;
    padding: 0px 0px;
    width: 60px; 
    height: 70px; 
    border-radius: 10%; 
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.5); 
}
.sliding-header.scrolled {
  top: -0px; 
}
nav ul {
  position: relative;
  top: -40px;
  text-align: center;
  margin: auto;
  
}

nav ul li {
  
  display: inline;
  margin-left: 30px;
}

nav ul li a {
  color: #FFFFFF; 
  text-decoration: none;
  transition: color 0.3s ease;
  
}

nav ul li a:hover {
  color: #fdfdfd; 
}

/* Estilos da seção de destaque */
.hero {
  background-color: #fafaf8; 
  color: #333333; 
  padding: 50px 0;
  text-align: center;
}

.hero-content {
 margin-top: 1%;
 width: auto;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background-color: #AA0000; 
  color: #FFFFFF; 
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f8f6f2; 
}

/* Estilos das outras seções */
section {
  padding: 100px 30px;
}

section h2 {
  font-size: 36px;
  margin-bottom: 40px;
}
/*Estilos do carrossel */

.slider img {
 width: 100%; 
 height: 350px;
 left:300px;
 border-radius: 30px;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.986);
}
/* Estilos do formulário de contato */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

form button {
  background-color: #AA0000; 
  color: #FFFFFF; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #FFAA00; 
}

/* Estilos do rodapé */
footer {
  background-color: #333333; 
  color: #FFFFFF; 
  text-align: center;
  padding: 20px 0;
  
}

